# Analysis 

THis was created by installing the development version of incense git+https://github.com/JarnoRFB/incense.git at 4236128faae866b6bb7a5a32f0914812895b024e

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
import sys
sys.path.append('.')
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import incense
from incense import ExperimentLoader
from pathlib import Path
from incense.experiment_loader import FileSystemExperimentLoader


basedir = Path("../logs/")
loader = FileSystemExperimentLoader(basedir)
loader

FileSystemExperimentLoader("../logs")

In [6]:
DATA_100A50D = pd.read_pickle('../data/100A50D__doc+pos.pkl')

In [3]:
DATA_100A50D.describe()

,user_id,review_contents,path_pos_trigrams,pos_tags,nested_pos_bigrams,path_pos_bigrams
count,4999,4999,4999,4999,4999,4999
unique,100,4986,4986,4986,4986,4986
top,SCo1UBoeN3bhRMkSYuiX1A,THIS IS A DISGUSTING COMPANY. DO NOT USE! They...,ROOT NP↑ROOT VP↑ROOT VP↓ VP↓NP↓DT NP↓NNP NP↓NN...,S NP VP VBZ NP DT NNP NN . S VP VB RB VP . S S...,S↓NP S↓VP S↓. VP↓VBZ VP↓NP NP↓DT NP↓NNP NP↓N...,S↓NP S↓VP S↓. S↑ROOT NP↑S VP↓VBZ VP↓NP VP↑S VB...
freq,50,3,3,3,3,3

In [9]:
STATS_100A50D = pd.DataFrame()
for col in set(DATA_100A50D) - {'user_id'}:
    STATS_100A50D[col] = DATA_100A50D[col].apply(lambda x: len(x.split()))

In [17]:
DESCRIP_100A50D = STATS_100A50D.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))
DESCRIP_100A50D

,review_contents,path_pos_trigrams,path_pos_bigrams,nested_pos_bigrams,pos_tags
count,4999,4999,4999,4999,4999
mean,395.282,2602.69,1468.94,718.623,750.316
std,194.077,1320.15,724.99,355.296,369.736
min,2,4,7,3,4
25%,257,1675.5,955,467,489
50%,355,2317,1322,646,676
75%,496,3262.5,1845,903,944
max,1007,7801,3715,1823,1895

In [19]:
print(DESCRIP_100A50D.to_latex())

\begin{tabular}{llllll}
\toprule
{} & review\_contents & path\_pos\_trigrams & path\_pos\_bigrams & nested\_pos\_bigrams & pos\_tags \\
\midrule
count &            4999 &              4999 &             4999 &               4999 &     4999 \\
mean  &         395.282 &           2602.69 &          1468.94 &            718.623 &  750.316 \\
std   &         194.077 &           1320.15 &           724.99 &            355.296 &  369.736 \\
min   &               2 &                 4 &                7 &                  3 &        4 \\
25\%   &             257 &            1675.5 &              955 &                467 &      489 \\
50\%   &             355 &              2317 &             1322 &                646 &      676 \\
75\%   &             496 &            3262.5 &             1845 &                903 &      944 \\
max   &            1007 &              7801 &             3715 &               1823 &     1895 \\
\bottomrule
\end{tabular}